<%= simple_form_for @user, :html => {:class => 'form-horizontal', :role => "form"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :department, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.association :department, :as => 'select', :include_blank => false, :collection => @departments, input_html: {class: 'form-control'}, :label => false %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :position, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :position, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sex, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.input_field :sex, :as => 'select', :include_blank => false, :collection => [['male', 1], ['female', 2]], :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :birthday, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.date_select :birthday, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mobile, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :mobile, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.file_field :image, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= f.submit 'Submit', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
