<div class="panel panel-info">
  <div class="panel-heading">
    <div class="page-header">
      <h2>Users</h2>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Department</th>
          <th>Position</th>
          <th>Name</th>
          <th>Sex</th>
          <th>Birthday</th>
          <th>Phone</th>
          <th>Mobile</th>
          <th>Address</th>
          <th>Image</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.department.name rescue "" %></td>
            <td><%= user.position %></td>
            <td><%= user.name %></td>
            <td><%= user.sex %></td>
            <td><%= user.birthday %></td>
            <td><%= user.phone %></td>
            <td><%= user.mobile %></td>
            <td><%= user.address %></td>
            <td><img src="<%= user.image %>"/></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New User', new_user_path %>
  </div>
</div>


